<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Grid Component</title>
	<script type="text/x-template" id="grid-template">
		<table>
			<tr>
				<th v-for="val of thead">{{ val }}</th>
			</tr>
			<tr v-for="el of getData">
				<td v-for="val of thead">{{ el[val] }}</td>
			</tr>
		</table>
	</script>
	<style type="text/css">
		table{
			border-collapse: collapse;
		}
		th,
		td{
			border: 1px solid #333;
		}
	</style>
</head>
<body>
	<div id="app">
		search
		<input type="text" name="search" v-model="val">
		
		<grid-item v-bind:thead="elem" v-bind:list="dataList" v-bind:search="val"></grid-item>
		
	</div>

	<script type="text/javascript" src="./bundle.js"></script>
</body>
</html>